/* 
Isto é um comentário
Comentários são sempre bem-vindos

Limpar navegador
reset - limpando navegador
*/

html. body {
    margin: 0;
    padding: 0;
    outline: 0;
}

* {
    box-sizing: border-box;
}

.topo {
    width: 100%;
    height: 56px;
    border-bottom: solid 1px #ccc; 
}

.player {
    width: 70%;
    height: 95vh;
    float: left;
    border-right: solid 1px #ccc;
}   

.playlist {
    width: 30%;
    height: 95vh;

}